<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@//127.0.0.1:1521/iesdb"></property>
		<property name="username" value="ies_ms"></property>
		<property name="password" value="iesapp"></property>
	</bean>
	
	<bean id="dataSource1" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@//192.168.0.2:1521/iesdb"></property>
		<property name="username" value="ies_ls"></property> 
		<property name="password" value="iesapp"></property>
	</bean>
	<!-- 配置Jdbc模板  -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"
		p:dataSource-ref="dataSource" />
	
	<!-- 配置Jdbc模板,配置历史表信息数据库连接  -->
	<bean id="ieslsdb" class="org.springframework.jdbc.core.JdbcTemplate"
		p:dataSource-ref="dataSource1" />
		
	<bean id="hbasejdbc" class="org.springframework.jdbc.core.JdbcTemplate"
		p:dataSource-ref="dataSource1" />
		
	<!-- 	
	<bean id="hbasejdbc"  
          class="org.springframework.jdbc.core.JdbcTemplate">  
        <constructor-arg ref="phoenixDataSource"/>  
        <qualifier value="phoenixJdbcTemplate"></qualifier> 
    </bean>  
    -->
    <!-- 
    <bean id="phoenixDataSource" class="org.apache.commons.dbcp.BasicDataSource">  
        <property name="driverClassName" value="org.apache.phoenix.jdbc.PhoenixDriver"/>  
        <property name="url" value="jdbc:phoenix:172.20.1.201:2181/hbase"/>  
        <property name="username" value=""/>  
        <property name="password" value=""/>  
        <property name="initialSize" value="20"/>  
        <property name="maxActive" value="0"/>   
        <property name="defaultAutoCommit" value="true"/>  
    </bean>  
	-->
	<!-- 
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
    </bean>
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="monitorRealm" />
	</bean>
	
	<bean id="monitorRealm" class="com.ieslab.service.MonitorRealm">
	</bean> -->	
</beans>